ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    font-size: 45px;
    padding-bottom: 3em;
    padding-top: 3em;
    border: solid white;
    border-bottom-color: #00e2e2;
    text-align: center;
}

ul li a{
   text-decoration: none;
   color: #00e2e2;
   font-weight: bold;
}

ul li a:hover{
  background-color: black;
}
ul li:first-child{
    padding-top: 1em;
}

#exit, #name{
    font-size: 60px;
    text-align: center;
    color:white;
    margin-top:0px;
    background-color: #00e2e2;
    display: inline-block;
}

#exit{
    padding: 1em;
}

#name{
    background-color: white;
    color: #00e2e2 ;
}

.hide{
    display: none;
}

.details {
   display: block;
   padding: 2em;
   border: solid 1px #006666;
   margin: 1em;
   box-shadow: 3px 3px #888888;
}


@media only screen and (min-device-width : 768px) {
    #exit{
        display:none;
    }



 #name{
    padding: 0;
    font-size: 40px;
    display:inline;

  }
 

.hide {
     border-bottom-color: none;
     display: inline;
 }

 ul li{
    font-size: 20px;
    display:inline;
    padding:0; 
 }

 ul{
     display: inline-block;
     margin-left: 10px;
     
 }
 
 .details{
    display:inline-block;
    width: 20%;
    font-size: 15px;
 }
    
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

        /* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
     .details{
        width: 25%;
     }
  }